* {
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
}

a:hover {
    text-decoration: none;
    opacity: 0.8;
}

#brand-text {
    color: gold;
}

/* Remove arrow of the ? button */
.dropdown-toggle::after {
    display: none;
}

/* Container for search input and search results */
.search-container {
    position: relative;
}

/* Hidden search results */
#searchResults {
    display: none;
    position: absolute;
    top: 38px;
    padding: 8px;
    border: 1px solid #888888;
    background: #eeeeee;
    z-index: 99999;
}

/**************************
    Image section
***************************/

#items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
  }

.item {
    border-bottom: 0.5px solid #888888;
}

@media (max-width: 1000px) {
    #items {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 10px;
    }
  }

  @media (max-width: 700px) {
    #items {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
    }
  }

  @media (max-width: 400px) {
    #items {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 10px;
    }
  }