* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif !important;
}

html {
    font-family: 'Roboto', sans-serif;
    -webkit-text-size-adjust: 100%;
}

body {
    background-color: white;
    line-height: 1.28;
    font-kerning: normal; /**/
    font-size: 14px;
    overflow-y: scroll;
    -webkit-font-smoothing: subpixel-antialiased; /**/
}

div {
    display: block;
}

ol, ul {
    list-style: none;
}

ul, menu, dir {
    display: block;
    -webkit-margin-before: 1em; /**/
    -webkit-margin-after: 1em; /**/
    -webkit-margin-start: 0px; /**/
    -webkit-margin-end: 0px; /**/
    -webkit-padding-start: 40px; /**/
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

form {
    display: block;
    margin-top: 0em;
}

input, textarea, select, button {
    text-rendering: auto; /**/
    color: initial; /**/
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    margin: 0em;
    font: 400 11px system-ui;
}

input, textarea, select, button {
    -webkit-writing-mode: horizontal-tb !important;
}

input, textarea {
    border: solid 1px #e6e6e6;
    -webkit-font-smoothing: subpixel-antialiased; /**/
    outline: none; /**/
}

button, input {
    line-height: normal;
}

input, select, textarea {
    font-family: inherit;
    font-size: 100%;
}

input {
    -webkit-appearance: textfield;
    background-color: white;
    -webkit-rtl-ordering: logical; /**/
    cursor: text; /**/
    padding: 1px;
    border-width: 2px;
    border-style: inset; /**/
    border-color: initial;
    border-image: initial;
}

a:link, a:visited, body {
    color: #777;
}

a:active, a:hover, a:link, a:visited {
    text-decoration: none;
    display: block;
}

a:hover {
    opacity: 0.8;
}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
}

img {
    border: 0;
}

.clearfix {
    display: block;
}

.clear {
    clear: both;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;

    height: 0;
    visibility: hidden;
}

.mod-gheader .mod-gheader-inner, .mod-gnav ul, .mod-snav-sub ul li {
    align-items: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    display: flex;
    display: -webkit-flex;
    display: -webkit-box;
    display: -ms-flexbox;
}

/* .mod-searchfield input, [data-gnavi=mysumally] .mod-gnav ul li a.type-mysumally, [data-mode=recommended] .mod-gnav ul li a.type-recommended, [id=browse][data-mode=following] .mod-gnav ul li a.type-browse, [id=browse][data-mode=popular] .mod-gnav ul li a.type-browse, [id=browse][data-mode=recent] .mod-gnav ul li a.type-browse, [id=browse][data-mode=shopping] .mod-gnav ul li a.type-browse, [id=browse][data-mode=shuffled] .mod-gnav ul li a.type-browse {
    color: #fff;
    font-weight: 700;
}  後で修正する！！ */

/**
* header-1
*/

.mod-gheader {
    background: #282828;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5001;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.mod-gheader-inner {
    margin: 0 50px;
}

/* logo */

.mod-smlogo {
    display: block;
    margin-right: 10px;
}

.mod-smlogo i {
    background: url('../img/logo.jpg') center center no-repeat;
    border-radius: 40%;
    display: block;
    height: 35px;
    width: 37px;
}

.mod-smlogo ul li {

}

a.type-browse {
    color: #fff;
    font-weight: 700;
    margin-right: 10px;
}

/* left nav */

.mod-gnav {
    margin-right: 25px;
}

.mod-gnav ul {
    justify-content: center;
    -webkit-justify-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
}

.mod-gnav ul li a {
    color: rgba(255,255,255,.6);
    display: block;
    font-size: 13px;
    line-height: 50px;
    outline: 0;
    padding: 0 15px;
    position: relative;
    z-index: 1;
}

/* search form */

.mod-searchfield {
    flex: 1;
    -webkit-flex: 1;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    position: relative;
    z-index: 1;
}

.mod-searchfield input:focus {
    background: #fff;
    color: #282828;
}

.mod-searchfield input {
    background: rgba(255,255,255,.2);
    border: 0;
    border-radius: 16px;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 700;
    height: 32px;
    line-height: 20px;
    padding: 4px 10px 4px 28px;
    width: 100%;
}

input[type=search] { /**/
    -webkit-appearance: textfield; /**/
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box; /**/
}

.mod-searchfield .mod-searchfield-icon {
    background: url() center center no-repeat;
    background-size: 12px 12px;
    height: 12px;
    left: 10px;
    position: absolute;
    top: 10px;
    width: 12px;
    z-index: 1;
}

/* user nav */

.mod-usernav {
    align-items: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    display: flex;
    display: -webkit-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    justify-content: flex-end;
    -webkit-justify-content: flex-end;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    margin-left: 15px;
}

.mod-usernav .mod-usernav-help {
    position: relative;
    z-index: 2;
}

.mod-usernav .mod-usernav-help .mod-usernav-help-main {
    display: block;
    height: 50px;
    outline: 0;
    width: 50px;
}

.mod-usernav .mod-usernav-help .mod-usernav-help-main .mod-usernav-help-main-icon {
    background: url('../img/logo.jpg') center center no-repeat;
    background-size: 24px 24px;
    display: block;
    height: 50px;
    opacity: .5;
    width: 50px;
}

.mod-usernav .mod-usernav-help .mod-usernav-help-pulldown {
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.3);
    display: none;
    position: absolute;
    right: 5px;
    top: 47px;
    z-index: 1;
    width: 240px;
}

#new_notif:before, #useInfoNavi:before, .mod-usernav .mod-usernav-help .mod-usernav-help-pulldown:before {
    background: url() 0 0 no-repeat;
    background-size: 6px 5px;
    content: '';
    display: block;
    height: 5px;
    position: absolute;
    right: 17px;
    top: -5px;
    width: 6px;
    z-index: 1;
}

.mod-usernav .mod-usernav-help .mod-usernav-help-pulldown .mod-usernav-help-pulldown-section+.mod-usernav-help-pulldown-section {
    border-top: 1px solid #e6e6e6;
}

.mod-usernav .mod-usernav-help .mod-usernav-help-pulldown .mod-usernav-help-pulldown-section {
    overflow: hidden;
}

.mod-usernav .mod-usernav-help .mod-usernav-help-pulldown .mod-usernav-help-pulldown-section .mod-usernav-help-pulldown-section-link {
    color: #282828;
    display: block;
    font-size: 13px;
    line-height: 20px;
    padding: 15px;
}

.mod-usernav .mod-usernav-settings {
    position: relative;
    z-index: 1;
}

.mod-usernav .mod-usernav-settings .mod-usernav-settings-main {
    height: 50px;
    outline: 0;
    width: 50px;
    text-align: center;
}

.mod-usernav .mod-usernav-settings .mod-usernav-settings-main img {
    border-radius: 4px;
    margin: 10px 0;
}

#useInfoNavi {
    background-color: #f7f7f7;
    border-radius: 4px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.3);
    color: #fff;
    display: none;
    font-size: 13px;
    padding-left: 0;
    right: 5px;
    top: 47px;
    left: auto;
    width: 240px;
    z-index: 1;
}

#tutorial-content .tutorial-nav-buttons, #useInfoNavi {
    top: 0;
    position: absolute;
    right: 0;
}

#useInfoNavi:before, .mod-usernav .mod-usernav-help .mod-usernav-help-pulldown:before {
    background: url(../images/newgnav/mod-usernav/arrow.png) 0 0 no-repeat;
    background-size: 6px 5px;
    content: '';
    display: block;
    height: 5px;
    position: absolute;
    right: 17px;
    top: -5px;
    width: 6px;
    z-index: 1;
}

/**
* header-2
*/

.mod-sheader {
    background: #fff;
    border-bottom: 1px solid rgba(0,0,0,.1);
    left: 0;
    position: fixed;
    top: 50px;
    width: 100%;
    z-index: 5000;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden; /**/
}

.liquidLayout .mod-sheader .mod-sheader-inner {
    margin: 0 50px;
}

.mod-sheader .mod-sheader-inner {
    align-items: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    display: flex;
    display: -webkit-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    -webkit-box-pack: justify; /**/
    -ms-flex-pack: justify;
    height: 50px;
}

a.type-myItems {
    color: #282828;
    font-weight: 700;
}

/* right-nav */

.mod-snav {
    margin-left: 48px;
}

/* left-nav */

.mod-itemnav {
    -webkit-justify-content: flex-end;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.mod-itemnav, .mod-layoutswitcher {
    display: -webkit-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}




/**
* image-section
*/

.row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 200px 0 0 4px;
    margin: 0 15px;
}

.column {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}



/**
* responsive
*/

/* responsive layout 4 -> 2 */
@media screen and (max-width: 800px) {
    .column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
}

/* responsive layout 2 -> 1 */
@media screen and (max-width: 600px) {
    .column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
}