
<style>
footer {
    border-top: dotted 1px #e6e6e6;
}

.footer-container {
    margin-top: 20px;
    margin-left: 20px;
}
</style>

<!-- Footer -->
<!-- Inner container -->
<div class="footer-container">
    <!-- Footer navi area -->
    <ul class="d-flex flex-row">
        <li>
            <a href="./about.html" class="p-2 black">ABOUT</a>
        </li>
        <li>
            <a href="./terms.html" class="p-2">TERMS OF USE</a>
        </li>
        <li>
            <a href="./privacy.html" class="p-2">PRIVACY POLICY</a>
        </li>
        <li>
            <a href="./contact.html" class="p-2">CONTACT US</a>
        </li>
    </ul>
    <!-- Other area -->
    <div>

    </div>
</div>
