
<style>
footer {
    border-top: dotted 1px #e6e6e6;
}

.footer-container {
    margin-top: 20px;
    margin-left: 20px;
}
#copyright-text {
    color: rgb(167, 167, 167);
    margin-right: 20px;
}
</style>

<!-- Footer -->
<!-- Inner container -->
<div class="footer-container">
    <!-- Footer navi area -->
    <ul class="d-flex bd-highlight mb-3">
        <li class="p-2 bd-highlight">
            <a href="./about.html" class="p-2 bd-highlight" id="footerAboutLink">ABOUT</a>
        </li>
        <li class="p-2 bd-highlight">
            <a href="./terms.html" id="footerTermsLink">TERMS OF USE</a>
        </li>
        <li class="p-2 bd-highlight">
            <a href="./privacy.html" id="footerPrivacyLink">PRIVACY POLICY</a>
        </li>
        <li class="p-2 bd-highlight">
            <a href="./contact.html" id="footerContactLink">CONTACT US</a>
        </li>
        <li class="ml-auto p-2 bd-highlight">
            <a id="copyright-text">&copy;kent</a>
        </li>
    </ul>
    <!-- Other area -->
    <div>

    </div>
</div>
