
<style>
#brand-text {
    color: gold;
}
/* remove arrow of the ? button */
.dropdown-toggle::after {
    display: none;
}
/* Align center dropdown-menu & void border-radius. */
.dropdown-menu {
    left: 50% !important;
    transform: translateX(-50%) !important;
    top: 100% !important;
    border-radius: 0px !important;
}
</style>

<!-- Header-1 -->
<header>
    <nav class="navbar navbar-dark bg-dark box-shadow">
        <div class="container d-flex justify-content-between">
            <a href="./mypage.html" class="navbar-brand d-flex align-items-center">
                <strong id="brand-text">CLEAR</strong>
            </a>
            <a href="./mypage.html" class="navbar-brand d-flex align-items-center">
                <small>MY PAGE</small>
            </a>
            <!-- Page title -->
            <a href="" class="navbar-brand d-flex align-items-center">
                <small id="pageTitle"></small>
            </a>
            <!-- TODO: Add message function on this header component later on. -->
            <!-- Message -->
            <!-- <a href="#">
                <i class="fas fa-envelope text-light"
                id="messageModalBtn"></i>
                <span class="badge" id="numUnread">0</span>
            </a> -->
            <!-- Help -->
            <div class="dropdown">
                <i class="fas fa-question text-light dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="./about.html">ABOUT</a>
                    <a class="dropdown-item" href="./contact.html">CONTACT US</a>
                </div>
            </div>
            <!-- Setting -->
            <div class="dropdown">
                <i class="fas fa-cog text-light dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="./settings.html">SETTINGS</a>
                    <a class="dropdown-item" id="logout" onclick="logout()">LOG OUT</a>
                </div>
            </div>
        </div>
    </nav>
</header>