
<style>
    .default-color {
        color: #575c61
    }
</style>
<header>
    <nav class="navbar navbar-light bg-light box-shadow">
        <div class="container">
            <ul class="navbar-nav d-flex flex-row" id="sub-nav-ul">
                <li class="nav-item active p-2 hide">
                    <small class="text-dark font-weight-bold">ITEM</small>
                </li>
                <li class="nav-item p-2 hide">
                    <a href="./mypage.html">
                        <small class="text-dark">All</small>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</header>
