
<style>
    .right-area {
        padding-top: 30px;
    }

    #pageTopArea {
        font-size: 12px;
    }

    .black {
        color: black;
    }
</style>

<!-- Right area -->
    <div>
        <ul class="d-flex align-items-start flex-column">
            <li>
                <a href="./about.html" class="p-2 black">ABOUT</a>
            </li>
            <li>
                <a href="./terms.html" class="p-2">TERMS OF USE</a>
            </li>
            <li>
                <a href="./privacy.html" class="p-2">PRIVACY POLICY</a>
            </li>
            <li>
                <a href="./contact.html" class="p-2">CONTACT US</a>
            </li>
        </ul>
    </div>
    <!-- Scroll to top -->
    <div class="mt-auto p-2">
        <a href="#top" class="mt-auto p-2" id="pageTopArea">SCROLL TO TOP</a>
    </div>
</div>